.panel-default > .panel-heading {
  background-color: white;
  border-bottom-color: #407fa3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 25px;
}

.panel-default {
  border: 0;
}

.panel {
  border-radius: 5px;
  box-shadow: 0 5px 8px #aaaaaa;
}

.list-group-item {
  border: 0;
  color: #888;
  font-weight: 700;
}

.list-group {
  margin-top: 20px;
}

.panel-title {
  font-size: 24px;
  font-weight: 700;
  color: #555;
  margin-top: 15px;
  margin-bottom: 5px;
}

.profile-button {
  border: 0;
  border-radius: 5px;
  background-color: #407fa3;
  color: white;
  font-weight: 700;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  width: 120px;
}

.profile-button:hover {
  background-color: #256589;
}
