body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(233, 233, 233);
}

.auth-card {
  max-width: 500px;
  margin: 120px auto 0;
  padding: 24px 56px 32px;
  background-color: #407fa3;
  border-radius: 8px;
  box-shadow: 0 5px 10px #888;
  border: 0;
}

.auth-card-submit-button {
  min-width: 130px;
  background-color: #256589 !important;
  border-color: transparent;
  color: white;
  font-size: 12px;
  font-weight: 700;
  border-radius: 8px;
  padding: 10px 27px 10px 27px;
}

.auth-card-submit-button:hover {
  border-color: transparent;
  background-color: white !important;
  color: #256589;
}

.form-control {
  border-radius: 8px;
}

.auth-title {
  color: white;
  font-weight: 700;
}

.b-card {
  max-width: 1000px;
}

.doc-card {
  background-color: white !important;
  color: #838383;
  font-weight: 700;
  box-shadow: 0 5px 10px #888;
}

.download-button {
  background-color: #407fa3;
  color: white;
  padding: 10px 25px;
  border-radius: 3px;
  box-shadow: 0 2px 4px #888;
}

.download-button:hover {
  text-decoration: none;
  background-color: #115a85;
  color: white;
}

.doc-item {
  margin-bottom: 25px;
}

.doc-table-title {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 24px;
}
.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.download-file {
  color: white;
}

.document-state {
  margin-top: -7px;
}
